* {
   margin: 0;
   padding: 0;
   font-family: 'Open Sans';
}

.navbar-brand {
   font-size: 20px;
}
nav li {
   font-size: 15px;
}

.container {
   font-size: 15px;
}

ul.bullets {
   margin-left: 25px;
}

.container a {
   font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
   position: relative;
   min-height: 100%;
}
body {
   /* Margin bottom by footer height */
   margin-bottom: 60px;
}
.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 30px;
   background-color: #f5f5f5;
   padding: 5px 15px;
   font-size: 12px;
   text-align: right;
}

.accordion-heading, .accordion-body {
   padding: 10px;
}

.accordion-heading {
   background-color: #F9F9F9;
}

.accordion-body {
   background-color: #F5F5F5;
}

#getdata {
   background-color: #F5F5F5;
   border-radius: 5px;
   padding: 10px;
   display: none;
}

#getdata input {
   max-width: 90%;
   width: 600px;
}

#getdata button {
   float: right;
}

.explorebox {
   background-color: #F5F5F5;
   padding: 10px;
   margin: 10px 0;
}

.explorebox p {
   margin-top: 10px;
}

.explorebox img {
   float: right;
   height: 200px;
   margin-left: 30px;
}

#mapcaption {
   margin-top: 5px;
   text-align: center;
}
