{% extends "layout.html" %}
{% block title %}
Marlon.io - API
{% endblock %}

{% block content %}

<h2>Using the API</h2>

<pre>
/api/detail/incidents
/api/detail/field_interviews
/api/detail/traffic_stops
</pre>

<p>These are the primary way to access the three datasets; more information on these can be found on the <a href="http://safety-security.uchicago.edu/police/data_information/">UCPD page</a> (note that "incidents" are linked as "Daily Crime/Fire Log" in the sidebar). Each can be filtered in a variety of ways:


{% endblock %}
