{% extends "layout.html" %}
{% block title %}
Marlon.io - Explore
{% endblock %}


{% block content %}

<h2>Explore</h2>
<div class="explorebox">
<img src="/static/images/query.png">
<a href="/query">Query generator</a>

<p>Input filters in a form (including geographic filters) to obtain an API query URL, as well as a link to a downloadable CSV, for each of the three datasets.</p>

<div style="clear:both;"></div>
</div>
<div class="explorebox">
<strong>Marker map</strong>

<p>Coming soon.</p>
</div>
<div class="explorebox">
<strong>Time series heatmap</strong>

<p>Coming soon.</p>
</div>
<div class="explorebox">
<strong>Interactive visualizer</strong>

<p>Coming soon.</p>
</div>

<h3>Other resources<h3>
<h4>Other UCPD resources</h4>
All of these are linked on the UCPD Data and Information portal, as mentioned above, but are compiled here for completeness' sake.
<ul class="bullets">
<li><a href="http://idot.illinois.gov/transportation-system/local-transportation-partners/law-enforcement/illinois-traffic-stop-study">Illinois Traffic Stop Study</a> - not UCPD-specific, but a statewise effort to analyze racial bias in traffic stops. Includes analyses of UCPD records.</li>
<li><a href="http://safety-security.uchicago.edu/police/contact_the_ucpd/complaint_process/">UCPD Complaints</a> process, including documents containing annual reports on reviewed complaints, as well as findings of the Independent Review Committee intended to act as an oversight on the process.</li>
<li><a href="http://safety-security.uchicago.edu/police/data_information/crime_trends/">Crime Trends</a> report by the UCPD.</li>
<li><a href="http://safety-security.uchicago.edu/police/data_information/violent_crime_report/">Violent Crimes Report</a> by the UCPD.</li>
<li>Arrest records are available under request; UCPD contact information is available <a href="http://safety-security.uchicago.edu/police/contact_the_ucpd/">here</a>.</li>
</ul>
<h4>Other civic data in Chicago</h4>
<ul class="bullets">
<li>The <a href="http://safety-security.uchicago.edu/police/contact_the_ucpd/">Citizens Police Data Project</a>, a project of the <a href="http://invisible.institute/">Invisible Institute</a>, hosts and presents data on complaints against CPD officers.</li>
<li><a href="http://plenar.io">Plenar.io</a> is a "centralized hub" for a great deal of Chicago data, including an API providing many different kinds of access and a flexible platform.</li>
<li>The <a href="https://data.cityofchicago.org/">Chicago Data Portal</a> is the city's own repository for its datasets, from which many of the Plenar.io datasets are drawn.</li>
<li><a href="http://chihacknight.org/">Chi Hack Night</a> is a weekly civic hacking meetup downtown, hosted by <a href="http://opencityapps.org/">Open City Apps</a>. <a href="http://datamade.us/about-us/">DataMade</a> is an associated civic tech company.</li>
<li>At the University of Chicago, <a href="http://dssg.io/">Data Science for Social Good</a> is a summer fellowship in applying data to social issues; it is closely tied to similar work by the <a href="http://dsapp.org/">Center for Data Science and Public Policy</a> and the  <a href="http://www.urbanccd.org/#urbanccd">Urban Center for Computation and Data</a>.

{% endblock %}
