{% extends "layout.html" %}
{% block title %}
Marlon.io - API
{% endblock %}

{% block scripts %}

<!-- javascript goes here! -->

{% endblock %}


{% block content %}

<h2>Data explorer</h2>

<!--
EXPLORER
-----
pick a dataset, enter all filters, get json or csv download

this is a simple flask form, which directs you to the appropriate link for csv/json

MARKERS
-----
select a dataset (maybe multiple datasets is useful in this case?), filters, time range? idk
point is you can hover over markers and see descriptions of what happened on a big map

HEATMAP
----
similar type of thing with datasets/filters, but now a scrollable timeseries heatmap
probably doing it block-style like plenario is best

VISUALIZER
----
pick a dataset and filters, pick a resolution (by day, etc.), graph of frequency gets plotted
should also be able to filter by time of day i guess
what about cyclical plots, like frequency by season, day of week, stuff like that? hard to integrate, maybe make it separate
-->

{% endblock %}
