{% extends "layout.html" %}
{% block title %}
Marlon.io
{% endblock %}


{% block content %}

<h2>Exploring UCPD data.</h2>

<p>Marlon.io (named lovingly after <a href="http://plenar.io">Plenar.io</a> and <a href="http://safety-security.uchicago.edu/about/department_of_safety_and_security_leadership/">Marlon C. Lynch</a>) is intended to provide an easy interface and API for accessing and visualizing data from police records provided by the <a href="http://safety-security.uchicago.edu/police/">Unversity of Chicago Police Department</a> (UCPD).
</p>

<h3>Background</h3>

<p>The UCPD is a full-fledged police service in the service of the University of Chicago, and one of the largest private security forces in the world. It functions as a regular police force in the vicinity of the university, patrolling from 37th to 64th Street and from Cottage Grove to Lake Shore Drive.</p>

<p>While the UCPD has long provided periodically-updated logs of incident reports for each day, for most of its existence this was the extent of its publicly available data: as a private police force, it is not subject to the same constraints under the <a href="http://foia.ilattorneygeneral.net/">Freedom of Information Act</a> as a public department. In response to petitioning for this information by community and student groups, including the Campaign for Equitable Policing, the UCPD <a href="http://safety-security.uchicago.edu/news/new_ucpd_data_information_now_online/">announced</a> it would begin releasing additional data on its website in June 2015.</p>

<p>The original incidents dataset, field interview records, and traffic stop information are the three datasets regularly updated by the UCPD, available on its <a href="http://safety-security.uchicago.edu/police/data_information/">Data and Information</a> portal. These backlogs are in a somewhat awkward format for searching or compiling, so the aim of Marlon.io is to provide a simpler means of doing so. Refer to the <a href="/api">API</a> page for details on how to access the raw data, and the <a href="/explore">Explore</a> page for visualizations and other analyses of these datasets created using our tool.</p>

{% endblock %}
